.button-primary {
  background-color: #ccc;
  width: 45%;
  margin: 10px auto;
  border-radius: 4px;
}

.button-primary a {
  display: block;
  opacity: 0.6;
  padding: 10px 8px;
  text-decoration: none;
  color: #000;
}

@media only screen and (min-width: 780px) {
  .button-primary {
    width: 12.2%;
  }
}
