.heading {
  /* height: 300px; */
}

.heading .copyright {
  display: none;
}

.heading-img .mobile-image {
  height: 100%;
  width: 100%;
}

.heading-img .mobile-image img {
  width: 100%;
}

.heading-img .desktop-image {
  display: none;
}

/* .icon img {
    padding: 8px;
    width: 28px;
    height: auto;
    background-color: none;
    background-blend-mode: multiply;
} */

.heading .heading-img .icon {
  position: absolute;
  top: 1%;
  left: 1%;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.heading .heading-img .icon span {
  height: 2px;
  width: 18px;
  background-color: #000;
  border-radius: 6px;
  display: inline-block;
}

.heading .heading-img .icon span:first-child {
  margin-top: 20px;
  margin-left: 14px;
}

.heading .heading-img .icon span:last-child {
  margin-left: 14px;
  margin-top: 3px;
}

.heading p {
  font-weight: bolder;
  font-size: 1.8rem;
  margin-top: 48px;
  margin-left: 14px;
  position: absolute;
  top: 8%;
  left: 1%;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.social img {
  height: 20px;
  width: auto;
  padding: 8px 20px;
}

@media only screen and (min-width: 780px) {
  .heading-img .mobile-image {
    display: none;
  }

  .heading-img .desktop-image {
    display: block;
    width: 96%;
  }

  .heading-img .desktop-image img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* object-fit: cover; */
  }

  .heading .heading-img {
    overflow-x: hidden;
  }

  .heading .heading-img .icon {
    position: absolute;
    left: 96%;
    top: 1%;
  }

  .heading .heading-img .icon span {
    width: 28px;
    opacity: 0.6;
  }

  .heading .heading-img .icon span:last-child {
    margin-top: 10px;
  }

  .heading .heading-img p {
    margin-top: 0;
    position: absolute;
    font-size: 3rem;
    top: 16%;
    left: 12%;
    letter-spacing: 4px;
  }

  .heading .social {
    width: 60px;
    flex-direction: column;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .heading .social img {
    margin-top: 12px;
  }

  .heading .copyright {
    display: block;
  }

  .heading .copyright p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 1em;
    position: absolute;
    right: 1.5%;
    bottom: 0;
    top: 30%;
  }
}
